.page-section {
	padding: 1.2rem 0;

	@mixin atMedium {
		padding: 4.5rem 0;
	}

	&--blue {
		background-color: $mainBlue;
		color: #FFF;
	}

	&--testimonials {
		background-color: #e0e6ef;  /* light blue color */

		@mixin atLarge {
			&.lazyloaded {
				background: url('../../assets/images/testimonials-bg.jpg') top center no-repeat;
				background-size: cover; /* this will shrink or stretch the image to always be large or small enough to perfectly cover the containing div */
			}
		}
		
	}

	&--no-b-padding-until-medium {
		padding-bottom: 0;

		@mixin atMedium {
			padding-bottom: 4.5rem;
		}
	}

	&--no-b-padding-until-large {
		padding-bottom: 0;

		@mixin atLarge {
			padding-bottom: 4.5rem;
		}
	}
}