.row {	
	display: flex;
	flex-direction: column;

	
	@mixin atMedium {
		flex-direction: row;
		
		&__medium-3 {
			width: 38%;
		}

		&__medium-6 {
			width: 60%;
		}

	}

	@mixin atLarge {	    
		max-width: 1200px;
		justify-content: space-between;

		&__large-3 {
			width: 30.6%;
			display: flex;	/* to make our columns equal hight  */			
		}	

		&__large-4 {
			width: 35%;				
		}

		&__large-6 {		
			width: 45%;
		}

		&__large-8 {	
			width: 60%;				
		}
		
		&__b-margin-until-medium {
			margin-bottom: 0; 
        }            
    }
    	

	&__b-margin-until-medium {
		margin-bottom: 1.65rem;
    }

    &--t-padding {
    	padding-top: 5rem; /* as we moved up testimonial photos a half of their height 5rem */
    }
}
	
	
	    

