.row {
	&__b-margin-until-medium {
		margin-bottom: 1.65rem;
    }
}

	@mixin atMedium {
		.row {	
			display: flex;
			max-width: 1200px;
			justify-content: space-between;		

			&__medium-4 {
				width: 35%;				
			}

			&__medium-6 {		
				width: 45%;
			}

			&__medium-8 {	
				width: 60%;				
			}
			
			&__b-margin-until-medium {
				margin-bottom: 0; 
            } 
        }	
	}    

