.wrapper {
	padding-left: 18px;
	padding-right: 18px;
	max-width: 1236px;  /* to have exact 1200px width we add 18+18=36px padding to it, because of the border-box rule */
	margin-left: auto;
	margin-right: auto;	

	&--medium {
		max-width: 976px;
	}

	.wrapper {
		padding-left: 0;
		padding-right: 0;
	}

	&--b-margin {
		margin-bottom: 1rem;

		@mixin atSmall {
			margin-bottom: 3.875rem;
		}
	}
}